.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 8px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.detail {
    margin: 0;
    padding: 0;
}