.container {
    background-color: white;
    border: 2px solid white;
    border-radius: 4px;
    height: fit-content;
    margin-top: 24px;
    width: 350px;
    padding: 20px;
}

.title {
    padding: 0;
    margin: 0;
    color: orange;
}

.scart {

}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}