.imag {
    border-radius: 0.6rem;
    border: 0.2rem solid azure;
}
.imag:hover {
    border: 0.2rem solid brown;

}
.btn {
    border: 1rem;
    border-radius: 10rem;
    background-color: aliceblue;
    color: black;
    position: relative;
    margin: 0 0 -118px -170px;
}