.imag {
    border-radius: 0.6rem;
    border: 0.2rem solid azure;
}
.imag:hover {
    border: 0.2rem solid brown;

}
.btn {
    border:  2px solid black;
    border-radius: 10rem;
    background-color: aliceblue;
    color: black;
    position: relative;
    margin: 0 0 -118px -170px;
    padding: 8px 12px;
}

.btn:hover {
    background-color: skyblue;
}